@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

body {
	background-color: #0a0e15;
}

button:focus {
	outline: none;
}

.featureGradient {
	background: radial-gradient(100% 100% at 100% 0%, #062b2b 0%, #0a0e15 100%);
}

.middleGradient--purple {
	background: radial-gradient(
		117.36% 50% at 0% 50%,
		#1d073a 0%,
		rgba(10, 14, 21, 0) 100%
	);
}
.middleGradient--green {
	background: radial-gradient(
		117.36% 50% at 0% 50%,
		#0a4444 0%,
		rgba(10, 14, 21, 0) 100%
	);
}

.flip-x {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

.image-overflow div {
	overflow: visible !important;
}
